# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE
.idea/

# Test reports
report/
allure-results/

# Logs
log/

# Temporary files
*.tmp
*.temp

# OS
Thumbs.db
.DS_Store

# Pytest
.pytest_cache/